@import './index.css';


body {
    background-color: #131621; /* Замените цветом или изображением фона по вашему выбору */
    margin: 0; /* Убирает отступы по умолчанию у body */
    padding: 0; /* Убирает внутренние отступы по умолчанию у body */
  }

  .p-1 {
    background-color: #191d2c;
    border-radius: 35px;
    padding: 15px 0; /* Пример отступов для текста и фона */
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .p-2 {
    margin-right: 15px;
    margin-left: 15px;
  }